@model MazeApplication.Models.Temporary

@{
    ViewBag.Title = "Maze";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to do that?</h2>

@using (Html.BeginForm(Model.Type, "Maze"))
{
    @Html.Hidden("previousLocation", Model.PreviousLocation);
    @Html.Hidden("inputRoom", Model.InputRoom);
    @Html.Hidden("id", Model.Id);
    <input type="submit" class="btn btn-danger" style="float:left" value="Continue" />
}

@using (Html.BeginForm("Maze", "Maze"))
{
    @Html.Hidden("previousLocation", Model.PreviousLocation);
    @Html.Hidden("inputRoom", Model.PreviousLocation);
    @Html.Hidden("id", Model.Id);
    <input type="submit" class="btn btn-primary" style="float:left" value="Abort" />
}